Repository rsksmart/lumino-light-client-sdk, pull requests merged in 2020-09, with the labels that each got.

#84 Husky, Fix Deposit tests, linter and prettier
  .eslintignore
  .huskyrc
  .prettierignore
  package-lock.json
  package.json
  src/Lumino/index.js
  src/config/channelParamsConstants.js
  src/scripts/constants.js
  src/store/actions/onboarding.js
  src/store/actions/payment.js
  src/store/actions/tokens.js
  src/store/actions/types.js
  src/store/epics/tmpFakeData.js
  src/store/functions/rns.js
  src/store/index.js
  src/store/reducers/channelReducer.js
  src/store/reducers/index.js
  src/store/reducers/rnsReducer.js
  src/utils/functions.js
  test/store/actions/deposit.test.js
Labels: enhancement

#86 RLP-764 Send previous secret hash on additional_metadata
  src/config/paymentConstants.js
  src/store/actions/payment.js
  src/store/functions/payments.js
Labels: mediated payments, refund

#73 Feature/rlp 688/mediated transfers lc
  src/config/messagesConstants.js
  src/config/paymentConstants.js
  src/store/actions/payment.js
  src/store/actions/types.js
  src/store/functions/payments.js
  src/store/reducers/paymentsReducer.js
  src/utils/messageManager.js
Labels: mediated payments, refund

#88 RLP-512 Settlement Light
  .babelrc
  .eslintrc.js
  gulpfile.js
  package-lock.json
  package.json
  src/config/channelStates.js
  src/config/messagesConstants.js
  src/scripts/settle.js
  src/store/actions/payment.js
  src/store/actions/settle.js
  src/store/actions/types.js
  src/store/functions/tokens.js
  src/store/reducers/channelReducer.js
  src/utils/callbacks.js
  src/utils/functions.js
  src/utils/messageManager.js
  test/store/functions/tokens.test.js
Labels: settlement light
